    .logo {
        width: 40px;
        height: 23px;
    }

    .logo>img {
        width: 164px;
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        font-family: "Segoe UI";
    }

    .right>ul {
        display: flex;
        gap: 34px;

    }

    .right>ul>li {
        list-style: none;
        display: flex;
        gap: 10px;
        align-items: self-end;

    }
    .first{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        gap: 63px;
        padding: 34px;
        font-family: sans-serif;
    }
    .first span{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
       
    }
    .line1 :nth-child(1){
        font-weight: bolder;
        padding: 0 7px;
    }
    .line1{
        padding: 0 10px;
    }
    .first >p{
        font-size: 23px;
        width: 57vw;
        text-align: center;
    }
    .btn{
        background-color: #00b6d1;
        padding: 14px 16px;
        color: white;
        border: none;
        border-radius: 6px;
        font-weight: 700;
        margin: 12px 0;
        cursor: pointer;
    }
    .btn >a{
        color:white;
        text-decoration: none;
        
    }
    .second{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .small{
        font-size: 14px;
        /* align-items: baseline; */
    }
    .download-button{
        display: inline-block;
    }
    .green{
        background-color: #5cb85c;
    }
    
    .item{
        padding: 23px;
        background-color: #f9f9f9;
        border-radius: 6px;
        margin: 12px;
        text-align: center;
    }
    .item-lang{
        font-weight: 700;
        text-align: center;
        padding-bottom: 36px;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .image{
        width: 164px;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 12px;
        /* max-width: 72vw; */
        margin: 12px;
    }
    .download :nth-child(2){
        font-size: 23px;
    }
    .download{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-family: sans-serif;
    }
    .download >img{
        padding: 23px;
    }
    @media screen and (max-width: 1145px){
        .grid{
            background-color: none;
            grid-template-columns: 1fr;
            gap: 12px;
        }
    }
    
